<!-- Footers and Social Media -->
<footer class="footer">
  <div class="footer-container">
    <!-- Footer Lists - Various sections of footer links -->
    <div class="footer-list">
      <!-- About Section -->
      <ul>
        <li class="footer-list-head">For Seller</li>
        <li><a routerLink="seller-auth">Seller Home Page</a></li>
        <li><a routerLink="seller-add-product">Add Product</a></li>
        <li><a routerLink="seller-home">Product List</a></li>
        <li><a (click)="logout()" href="">Seller-Logout</a></li>
        <li><a routerLink="seller-auth">Seller Login/Sign-up</a></li>
      </ul>
      <!-- Payments, Shipping, and FAQs Section -->
      <ul>
        <li class="footer-list-head">For User</li>
        <li><a routerLink="my-orders">My Orders</a></li>
        <li><a routerLink="my-orders">Cancellation & Returns</a></li>
        <li><a routerLink="user-auth">User Login/Sign-up</a></li>
        <li><a (click)="userLogout()" href="">Logout</a></li>
      </ul>
      <!-- Social Media Section -->
      <ul>
        <li class="footer-list-head">Socials</li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">YouTube</a></li>
      </ul>
      <!-- Help and Support Section -->
      <ul>
        <li class="footer-list-head">HELP</li>
        <li><a href="#">Accounts and Billing</a></li>
        <li><a href="#">Plan and Pricing</a></li>
      </ul>
      <!-- More About Us Section -->
      <ul>
        <li class="footer-list-head">More About Us</li>
        <li><a href="#">What we do?</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Terms Of Use</a></li>
      </ul>
    </div>
    <!-- Footer Divider (if any) -->
    <div class="footer-divider"></div>
  </div>
</footer>
